/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.selectPositivo{
  background: #5cb85c; color: #fff;
}
.selectNegativo{
  background: #CD5C5C; color: #fff;
}

#w{
  margin-top: 0px;
  margin-bottom: 10px;
  background-color: #f2f2f2;
}
