<div class="container-fluid">
  <ul class="nav nav-pills">
    <li role="presentation" class="active"><a href="#/">Início</a></li>
    <li role="presentation" class="dropdown">
      <a class="dropdown-toggle btn btn-default" data-toggle="dropdown" data-target="#" role="button" aria-haspopup="true" aria-expanded="false">
        Pacientes <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li><a href="#">Pesquisar Pacientes</a></li>
        <li><a href="#/cadastrarPaciente">Cadastrar Paciente</a></li>
        <li><a href="#/infoPaciente">Informações da Paciente</a></li>
      </ul>
    </li>
    <li role="presentation" class="dropdown">
      <a class="dropdown-toggle btn btn-default" data-toggle="dropdown" data-target="#" role="button" aria-haspopup="true" aria-expanded="false">
        Recém-Nascidos <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li><a href="#">Pesquisar Pacientes</a></li>
        <li><a href="#">Cadastrar Paciente</a></li>
      </ul>
    </li>
  </ul>
</div><!-- /.container-fluid -->
