<div class="menuAside">
  <h2>Criar ou Editar</h2>
  <div class="list-group">
    <a ng-href="#/dadosRN" class="list-group-item">Dados do Recém-Nascido<span class="badge">0</span></a>
    <a ng-href="" class="list-group-item">Amostras do Recém-Nascido<span class="badge">0</span></a>
    <a ng-href="" class="list-group-item">Resltados do Recém-Nascido<span class="badge">0</span></a>
    <a ng-href="" class="list-group-item">Paciente (Mãe)<span class="badge">0</span></a>
    <a ng-href="" class="list-group-item">Exames Físico Recém-Nascido<span class="badge">0</span></a>
    <a ng-href="" class="list-group-item">Exames Solicitados Recém-Nascido<span class="badge">0</span></a>
    <a ng-href="" class="list-group-item">Intercorrências Recém-Nascido<span class="badge">0</span></a>
    <a ng-href="#/resultExamLabPaciente" class="list-group-item">Resultado - Exames Laboratoriais Recém-Nascido<span class="badge">2</span></a>
  </div>
</div>
